<!DOCTYPE html>
<html lang='{{ DEFAULT_LANG }}'>
  <head>
    {% block head %}
    <title>
      {% block title %}{{ SITENAME }}{% endblock title %}
    </title>
    <meta charset='utf-8' />
    {% if FEED_ALL_ATOM %}
    <link href='{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}' type='application/atom+xml' rel='alternate' title='{{ SITENAME }} Full Atom Feed' />
    {% endif %}{% if FEED_ALL_RSS %}
    <link href='{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}' type='application/rss+xml' rel='alternate' title='{{ SITENAME }} Full RSS Feed' />
    {% endif %}{% if FEED_ATOM %}
    <link href='{{ FEED_DOMAIN }}/{{ FEED_ATOM }}' type='application/atom+xml' rel='alternate' title='{{ SITENAME }} Atom Feed' />
    {% endif %}{% if FEED_RSS %}
    <link href='{{ FEED_DOMAIN }}/{{ FEED_RSS }}' type='application/rss+xml' rel='alternate' title='{{ SITENAME }} RSS Feed' />
    {% endif %}{% if CATEGORY_FEED_ATOM and category %}
    <link href='{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}' type='application/atom+xml' rel='alternate' title='{{ SITENAME }} Categories Atom Feed' />
    {% endif %}{% if CATEGORY_FEED_RSS and category %}
    <link href='{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}' type='application/rss+xml' rel='alternate' title='{{ SITENAME }} Categories RSS Feed' />
    {% endif %}{% if TAG_FEED_ATOM and tag %}
    <link href='{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}' type='application/atom+xml' rel='alternate' title='{{ SITENAME }} Tags Atom Feed' />
    {% endif %}{% if TAG_FEED_RSS and tag %}
    <link href='{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}' type='application/rss+xml' rel='alternate' title='{{ SITENAME }} Tags RSS Feed' />
    {% endif %}
    {% endblock head %}
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <link href='{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/code.css' type='text/css' rel='stylesheet' />
    <link href='{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/font.css' type='text/css' rel='stylesheet' />
    <link href='{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/primer.css' type='text/css' rel='stylesheet' />
    <link href='{{SITEURL}}/{{ THEME_STATIC_DIR }}/css/stackicons-social.min.css' type='text/css' rel='stylesheet' />
    {%block extraheader%}
    {%endblock%}
  </head>
  <body>
    <header class='masthead'>
      <div class='container'>
        <a class='masthead-logo' href='{{ SITEURL }}'>
          {{SITENAME}}
        </a>
        <nav class='masthead-nav'>
          <a{% if articles_page or (article and article.category != "pages") %} class="active"{%endif%} href="{{SITEURL}}/blog/index.html">{% trans %}Blog{% endtrans %}</a>
          <a{% if (article and article.category == "pages" and not article.hide) or (page and not page.hide) or (page and page.save_as == "wiki/index.html") %} class="active"{%endif%}  href="{{SITEURL}}/wiki/index.html">{% trans %}Notes{% endtrans %}</a>
          <a{% if (article and article.save_as == "index.html") or (page and page.save_as == "index.html") or (page and page.save_as == "gpg/index.html") %} class="active"{%endif%} href="{{SITEURL}}/index.html">{% trans %}About me{% endtrans %}</a>
          <a{% if (page and page.save_as == "disclaimer/index.html") or (article and article.save_as == "disclaimer/index.html")%} class="active"{%endif%} href="{{SITEURL}}/disclaimer/index.html">{% trans %}Disclaimer{% endtrans %}</a>
          {% if DEFAULT_LANG == 'fr' %}
          <a class="active" href="{{SITEURL}}">fr</a>
          <a href="{{SITEURL}}/..">en</a>
          {%else%}
          <a href="{{SITEURL}}/fr">fr</a>
          <a class="active" href="{{SITEURL}}">en</a>
          {%endif%}
        </nav>
      </div>
    </header>
    {% block content %}
    {% endblock %}

    <footer class='footer'>
      <div class='container'>
        <p>
          {% trans %}Content written by <a href="{{SITEURL}}">Julien Pivotto</a>, licensed under the <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.en_US">Creative Commons Attribution 4.0 International License</a>.{% endtrans %}{{' '}}
          {% trans %}Layout based on <a href="http://primercss.io/">Primer</a>, icons by <a href="https://github.com/parkerbennett/stackicons">StackIcons</a>, which are both licenced under the MIT License. The font used is <a href="https://www.google.com/fonts/specimen/Open+Sans">Open Sans</a>, which is under the Apache License 2.0.{% endtrans %}{{' '}}
          {% trans %}Proudly generated by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>. This website is served by open-source softwares.{% endtrans %}{{' '}}
          {% trans %}I also love open standards. This page is <a href="http://validator.w3.org/check?uri={{SITEURL}}/{{output_file}}">HTML5 valid</a> and is reponsive. Find out more in the <a href="{{SITEURL}}/disclaimer/index.html">disclaimer</a>.{% endtrans %}
          {% if page and page.save_as == "index.html" %}
          {{' '}}"FSFE 15" logo is released under <a href="https://fsfe.org/contribute/spreadtheword.en.html">CC-BY-SA 4.0 license by Markus Meier</a>.
        {% endif%}
        </p>
      </div>
    </footer>
  </body>
</html>
