<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700%7CDroid+Sans:700" type="text/css"/>
        <link rel="stylesheet" href="{{SITEURL}}/theme/yaml.css" type="text/css"/>
        {%block extraheader%}
        {%endblock%}
</head>

<body>


<div id="sitenav" role="banner">
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <div class="mnav">
                <ul class="ym-grid ym-equalize linearize-level-2">
                    <li class="ym-g25 ym-gl{% if articles_page or (article and article.source_link == "source.html") %} active{%endif%}"><a href="{{SITEURL}}/blog/index.html">Blog <span>Articles, opinions &amp; news</span></a></li>
                    <li class="ym-g25 ym-gl{% if (article and article.source_link != "source.html" and not article.hide) or (page and not page.hide) or (page and page.save_as == "wiki/index.html") %} active{%endif%}"><a href="{{SITEURL}}/wiki/index.html">Notes <span>Random stuffs &amp; code</span></a></li>
                    <li class="ym-g25 ym-gl{% if (article and article.save_as == "index.html") or (page and page.save_as == "index.html") or (page and page.save_as == "gpg/index.html") %} active{%endif%}"><a href="{{SITEURL}}/index.html">About me <span>Bio, talks &amp; contact</span></a></li>
                    <li class="ym-g25 ym-gl{% if page and page.save_as == "disclaimer/index.html"%} active{%endif%}"><a href="{{SITEURL}}/disclaimer/index.html">Disclaimer <span>License &amp; other useful stuff</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

        <header id="banner" class="body">
 <div class="ym-wrapper">
     <div class="ym-wbox">
                <h1>{{ SITENAME }}</h1>
                <p>About Linux, DevOps, Open-Source and the rest.</p>
    </div>
</div>
        </header><!-- /#banner -->
{% if (article and article.source_link == "source.html") or (articles_page)%}
<nav id="level2" role="navigation">
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <div class="ym-hlist">
                <ul>
                {% for cat, null in categories %}
                <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
    </ul>
    </div>
    </div>
</div>
</nav>
{% endif %}

<div id="main">
    {% block content %}
    {% endblock %}
    </div>
    <footer id="contentinfo" class="body">
<div class="ym-wrapper">
 <div class="ym-wbox">
     <div class="ym-grid ym-equalize linearize-level-2">
         <p class="ym-g25 ym-gl center">
             Content written by <a href="{{SITEURL}}">Julien Pivotto</a>, licensed under the <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.en_US">Creative Commons Attribution 4.0 International License</a>.
         </p>
         <p class="ym-g25 ym-gl center">
            Layout based on <a href="http://www.yaml.de/">YAML CSS Framework</a>, licenced under the <a href="http://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0 License</a>.
            </p>
             <p class="ym-g25 ym-gl center">
                Proudly generated by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>. This website is served by open-source softwares.
             </p>
             <p class="ym-g25 ym-gl center">I also love open standards . This page is
             <a href="http://validator.w3.org/check?uri={{SITEURL}}/{{output_file}}">HTML5 valid</a> and is reponsive. Find out more in the <a href="{{SITEURL}}/disclaimer/index.html">disclaimer</a>.
            </p>
                
    </div></div></div>
        </footer><!-- /#contentinfo -->
{%block extrafooter%}
{%endblock%}
</body>
</html>
