<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}

        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="{{SITEURL}}/theme/yaml/core2/base.min.css" type="text/css"/>
        <link rel="stylesheet" href="{{SITEURL}}/theme/yaml/screen/screen-FULLPAGE-layout.css" type="text/css"/>
        <link rel="stylesheet" href="{{SITEURL}}/theme/yaml/screen/typography.css" type="text/css"/>
        <link rel="stylesheet" href="{{SITEURL}}/theme/yaml/navigation/hlist.css" type="text/css"/>
        <link rel="stylesheet" href="{{SITEURL}}/theme/yaml/print/print.css" type="text/css"/>
        <link rel="stylesheet" href="{{SITEURL}}/theme/yaml/forms/gray-theme.css" type="text/css"/>
        <link rel="stylesheet" href="{{SITEURL}}/theme/code.css" type="text/css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700%7CDroid+Sans:700" type="text/css"/>
        <style>
        .box.error a:hover{
            color: white;
            background-color: rgb(100,0,0);
        }
        .box.error a{
            color: rgb(100,0,0);
            text-decoration: underline;
        }
        h2 a{
            color:black;
        }
        </style>

{%block extraheader%}
{%endblock%}
</head>

<body>
        <header id="banner" class="body">
 <div class="ym-wrapper">
     <div class="ym-wbox">
                <h1>{{ SITENAME }}</h1>
    </div>
</div>
        </header><!-- /#banner -->
        <nav id="menu">
 <div class="ym-wrapper">
     <div class="ym-hlist"><ul>
        {% for title, link in MENUITEMS %}
        {%include "top_link.html"%}
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in PAGES %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
        </ul>
    </div>
</div></nav><!-- /#menu -->
        {% block content %}
        {% endblock %}
        <footer id="contentinfo" class="body">
 <div class="ym-wrapper">
     <div class="ym-wbox">
         <p>
         Written by <a href="{{SITEURL}}">Julien Pivotto</a>, licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.en_US">Creative Commons Attribution 4.0 International License</a>.
                Powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.
                Theme based on <a href="http://www.yaml.de/">YAML</a>.
                <div class="center">
                <a href="http://validator.w3.org/check?uri={{SITEURL}}/{{output_file}}"><img src="{{SITEURL}}/images/html5.png" /></a>
            </div>
                
                </p>
            </div></div>
        </footer><!-- /#contentinfo -->
{%block extrafooter%}
{%endblock%}
</body>
</html>
