<li
{%- if page and page.save_as == "index.html" and title == "About me" %} class="active"{%endif-%}
{%- if page and page.save_as == "gpg/index.html" and title == "About me" %} class="active"{%endif-%}
{%- if article and article.save_as == "index.html" and title == "About me" %} class="active"{%endif%}
{%- if article and title == "Blog" and article.source_link == "source.html" %} class="active"{%endif%}
{%- if article and title == "Notes" and article.source_link != "source.html" and not article.hide %} class="active"{%endif%}
{%- if page and title == "Notes" and not page.hide %} class="active"{%endif%}
{%- if page and title == "Notes" and page.save_as == "wiki/index.html" %} class="active"{%endif%}
{%- if articles_page and title == "Blog" %} class="active"{%endif%}
><a href="{{ link }}">{{ title }}</a></li>
