<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{{SITENAME}}{% block appendixtitle%}{% endblock%}</title>
<link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/cosmic-sans-neue-mono" rel="stylesheet" type="text/css"/> 
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" type="text/css" />
</head>
<body>
<header id="rdlpheader">
    <h1 class="logo">sysadmin {'roidelapluie': website =&gt; [</h1>
    <nav>
        <ul>
            <li><a{%block menublog%}{%endblock%} href="{{SITEURL}}/">blog</a>,</li>
            <li><a{%block menuwiki%}{%endblock%} href="{{SITEURL}}/wiki/">wiki</a>,</li>
            <li><a{%block menuexherbo%}{%endblock%} href="{{EXHERBO_SITEURL}}">exherbo</a>,</li>
            <li><a{%block menuabout%}{%endblock%} href="{{SITEURL}}/pages/about-me.html">about</a>,</li>
        </ul>
    </nav>
    <h1>], }</h1>

</header>
<section>
{% block content %}
{% endblock %}
</section>
<footer>
    {%block extrafooter%}
    {%endblock%}
    <p>Written by <a href="{{SITEURL}}/pages/about-me.html">Julien Pivotto</a>.
    Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.en_US">Creative Commons Attribution 4.0 International License</a>.
Powered by <a href="http://getpelican.com">Pelican</a>.</p>
</footer>
<script src="{{ SITEURL }}/theme/js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
</body>
</html>
