html, body{
    background-color: #ffffff;
}
html, body, header ul, header li {
    padding:0em;
    margin:0em;
}
header h1, header nav, header nav ul, header nav ul li{
    display: inline-block;
}
header{
    padding:0em;
    margin:0em;
    background-color: rgb(255,100,0);
    background-image: url('../img/background_header.png');
    background-repeat: repeat-y;
    background-position: right;
}

header h1{
    padding:0.4em 0.4em 0.4em 60px;
    margin:0em;
    color:white;
    font-size:1.2em;
    font-family: 'CosmicSansNeueMono';
    font-weight: bold;
    display: inline-block;
    background-image: url('../img/background_h1.png');
    background-repeat: no-repeat;
    background-position: top left;
}
header nav ul{
    list-style-type: none;
}
header nav li a{
    color:white;
    font-family: 'CosmicSansNeueMono'; 
    padding: 0em 0em 0em 1em;
    font-size:1.2em;
}
header nav li a.active{
    color:white;
    font-weight:bold;
}
section h2{
    font-family: 'CosmicSansNeueMono';
    font-size:1.2em;
}
section h1{
    font-family: 'CosmicSansNeueMono';
    font-size:1.5em;
}
a{
  color: rgb(255,100,0);
}
section {
    padding: 2em;
}
section abbr.published{
    font-size:0.7em;
    color: rgb(100,100,100);
    font-weight:bold;
}
footer{
border-top: 1px solid rgb(255,100,0);
padding: 1em;
font-size:0.8em;
}
pre{
color:white;
padding:1em;
background-color:black;
}
