[
{% for page in pages %}
  {
    "title": {{page.title|tojson}},
    "content": {{page.content|tojson}},
    {%if page.sidebar%}"sidebar": {{page.sidebar|join('\n')|tojson}},{%endif%}
    {%if page.hide%}"hide": {{page.hide|tojson}},{%endif%}
    {%if page.locale_update%}"locale_update": {{page.locale_update|tojson}},{%endif%}
    {%if page.locale_date%}"locale_date": {{page.locale_date|tojson}},{%endif%}
    "commits": {{page.commits|tojson}},
    "source": {{page.source|tojson}},
    "slug": "{{page.slug}}"
  }{% if not loop.last%},{%endif%}
{% endfor -%}
]
