{% extends 'base.html' %}
{% block content %}
{% set index=True %}
.container
  %h2 Notes
  %ul{style: "columns: 2; -webkit-columns: 2; -moz-columns: 2;"}
    {% for page in PAGES %}
    {% if not page.hide %}
    %li
      <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title|striptags }}</a>
    {% endif %}
    {% endfor %}
{% endblock %}
