<div data-ng-repeat='page in contents|filter:{"slug":pageSlug}'>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <div class="ym-grid linearize-level-1">
                <div class="ym-g66 ym-gl content">
                    <div class="ym-gbox-left">
                        <h2>{{ page.title }}</h2>
                        <div data-ng-bind-html="page.content">
                        </div>

                    </div>
                </div>
                <aside class="ym-g33 ym-gr">
                    <div class="ym-gbox-left">
                        <div data-ng-if="page.sidebar" data-ng-bind-html="page.sidebar">
                        </div>
                        <h4>About this page</h4>
                        <p>This page titled "{{page.title}}" is part of my personal <span data-ng-if="page.hide">website</span><span data-ng-if="!page.hide">notes</span>. The <a href="https://github.com/roidelapluie/blog">source code</a> is available on <a href="https://github.com">github</a>. If you find a mistake, a typographical error or any other nonsense, you can send me a <a href="https://github.com/roidelapluie/blog/compare">pull request</a>.</p>
                        <p>
                        Created on {{ page.locale_date }}<span data-ng-if="page.locale_date != page.locale_update"> and last updated on {{ page.locale_update }}</span>.
                        </p>
                        <p>This is the revision <a href="#/page/{{page.slug}}/changelog">{{page.commits.length}}</a> of this page. The <a href="#/page/{{page.slug}}/source">source</a> is written in Markdown.
                        </p>
        <p data-ng-if="!page.hide">
        <a class="ym-button ym-next" href="#/wiki">Back to notes</a>
        </p>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
