<div class="ym-wrapper">
    <div class="ym-wbox" ng-repeat='page in contents|filter:{"slug":pageSlug}'>
    <section class="ym-grid linearize-level-1">
        <article class="ym-g66 ym-gl content">

            <div class="ym-gbox-left">
    <h1>{{ page.title }}</h1>
    <h4>Source code</h4>

          <pre ng-bind-html="page.source"></pre>
</div>
</article>
<aside class="ym-g33 ym-gr">
            <div class="ym-gbox-left">

    <h2>Markdown source</h2>
    <p>You are looking at the latest markdown source of "<a href="#/{{contentType}}/{{page.slug}}">{{page.title}}</a>".</p>
    <p>
    Created on {{ page.locale_date }}<span ng-if="page.locale_date != page.locale_update"> and last updated on {{ page.locale_update }}</span>.
    </p>
    <p>This is the revision <a href="#/{{contentType}}/{{page.slug}}/changelog">{{page.commits.length}}</a> of this page.
		</p>
        <p>
        <a class="ym-button ym-next" href="#/{{contentType}}/{{page.slug}}">Back</a>
        </p>

</div>
    </aside>
</section>
</div>
</div>
